In [6]:
import os
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))
        
model_path = 'C:/Users/Emincan/Desktop/Playground/syntheticModel'

In [7]:
# !pip install transformers==4.26.1 -q

In [8]:
# !pip install be_great==0.0.3 -q

In [11]:
from be_great import GReaT

model = GReaT.load_from_dir(model_path)
synthetic_data = model.sample(
    n_samples=1000_000,    # change this to generate more samples
    k=50,
    temperature=0.7,  # values between 0.5-0.9 generally give good results
    max_length=256,
    device="cuda")
synthetic_data = synthetic_data.rename_axis('id')
synthetic_data.to_csv('synthetic_data_1000k.csv')
synthetic_data.shape
synthetic_data.head()

1000048it [14:52:38, 18.67it/s]

,Sex,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
id,,,,,,,,,
0,M,1.2125,0.9250,0.325,17.293195,7.711064,3.713785,4.394172,7.0
1,M,1.4250,1.1000,0.350,26.124064,10.758635,5.358055,8.079607,12.0
2,M,1.5625,1.2375,0.450,37.109496,16.641157,7.342521,9.227762,9.0
3,M,1.5625,1.2875,0.425,38.838815,13.182517,9.171063,9.780577,12.0
4,F,1.4625,1.1250,0.400,25.925618,10.985431,5.202133,7.087375,10.0

In [11]:
synthetic_data.Age.value_counts()

9.0     32925
10.0    30766
8.0     26839
11.0    23736
7.0     18366
12.0    12681
6.0     12376
13.0     9868
14.0     6294
5.0      5408
15.0     4820
16.0     3150
4.0      2796
17.0     2777
18.0     1926
19.0     1561
20.0     1164
21.0      714
3.0       678
23.0      363
22.0      313
27.0      107
24.0       97
1.0        61
25.0       60
26.0       53
29.0       51
2.0        50
Name: Age, dtype: int64